{% extends 'base.html' %}

{% block title %}Strata Servers{% endblock %}
{% block pageclass %}gray-bg{% endblock %}

{% load weblogic_tags %}
{% load badge_tags %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ server_role|title }} Servers</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/home/">Home</a>
                </li>
                <li>
                    Strata
                </li>
                <li>
                    Servers
                </li>
                <li class="active">
                    <strong>{{ server_role|title }} Servers</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="ibox-content">
        {% if strataserver_list %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>Puppet Role</th>
                    <th>Environment</th>
                    {% comment %}
                    There's certain things we only want to show for specific server types.
                    Rather than separate templates or funky includes I'm doing it inline for the sake of
                    visibility.
                    {% endcomment %}
                    {% if server_role == 'app' %}
                        <th>Nodemanager</th>
                        <th>AdminServer</th>
                        <th>Managed Servers</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for server in strataserver_list %}
                    <tr class="modal-row" data-toggle="modal" data-target="#{{ server.name }}">
                        <td>{{ server.name }}</td>
                        <td>{{ server.puppet_role }}</td>
                        <td>{{ server.environment }}</td>
                        {% if server_role == 'app' %}
                            <td>{{ server.connect_to | tcp_health:server.nodemanager_port }}</td>
                            <td>{{ server.connect_to | tcp_health:server.adminserver_port }}</td>
                            <td>{{ server.connect_to | get_managed_servers }}</td>
                        {%  endif %}
                        {% comment %}
                        Each row will show a modal dialog box for interaction with a server.
                        We'll render in each row avoiding the need to loop through each server
                        object again further down the page. It also means that the modal is
                        all ready to go on click and we don't have to wait for an ajax call / extra
                        http requests.
                        {% endcomment %}
                        <div class="modal inmodal" id="{{ server.name }}" tabindex="-1" role="dialog"  aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Server: {{ server.name }}</h4>
                                        <small class="font-bold">
                                            {{ server | puppet_role_badge }}
                                            {{ server | puppet_env_badge }}
                                            {{ server | status_badge }}
                                        </small>
                                    </div>
                                    <div class="modal-body">
                                        {% include 'strata/server_form.html' %}
                                        {% include 'strata/server_tasks.html' %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No servers yet.</p>
        {% endif %}
    </div>
{% endblock content %}