{% extends 'base.html' %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block bodyclass %}gray-bg{% endblock %}
{% block pagewrapperid %}login{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <h1 class="logo-name">HQ+</h1>
            <h2>StrataHQ Login</h2>
            {% if form.errors %}
                <div class="alert alert-danger">
                    Your username or password are incorrect. Please try again.
                </div>
            {% endif %}
            <form class="m-t" id="login-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Username" name="username"
                               autofocus maxlength="254"
                               required id="id_username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" placeholder="Password" name="password"
                               required id="id_password">
                    </div>
                </div>

                <input type="submit" value="Login"
                       class="btn btn-primary btn-lg btn-outline btn-block"/>
            </form>
        </div>
    </div>
{% endblock content %}

